@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0%;
    font-size: x-large;
    font-family: "open sans", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Press Start 2P", cursive;
    color: white;
}

.header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    height: 50px;
    margin-right: 20px;
    margin-left: 40px;
}

.header-github-logo,
.header-github-logo img {
    height: 50px;
    margin-right: 20px;
    margin-left: 40px;
}

.weather-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 350px;
    background-color: #44809e45;
    border-radius: 30px;
    padding: 25px;
    padding-right: 30px;
    box-shadow: 0px 31px 35px -26px #000000;
    display: inline-block;
}

.search {
    display: flex;
    height: 1.5em;
    border-radius: 15%;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
}

.temp {
    font-weight: 700;
    font-size: 30px;
}

button {
    border: none;
    margin: 0.3em;
    height: 3.1em;
    width: 3.1em;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background: grey;
}

.search-bar {
    padding: 0.5rem 1rem;
    margin-right: 20px;
    width: 80%;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 20px;
}

.loader {
    border: 6px solid #256585;
    border-radius: 39%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search-icon {
    width: 22px;
    height: 22px;
    padding-top: 5px;
}

#forecast {
    display: flex;
    background-color: #44809e45;
    height: 16em;
    width: 16em;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 31px 35px -26px #000000;
    border-radius: 30px;
}

#forecast ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 16em;
}

#forecast li {
    position: relative;
    display: flex;
    margin: 0;
    height: 2em;
}

#days {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: space-evenly;
    position: relative;
}

#day-weather {
    display: flex;
    /* border: 1px solid yellow; */
}

.drop-down {
    float: right;
    right: 0px;
    position: absolute;
    cursor: pointer;
    /* display: inline-flex; */
}

.details {
    height: 16em;
    width: 16em;
    position: absolute;
    display: none;
    z-index: 1;
}

.details img {
    height: 50px;
}

.footer {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}