@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0%;
  font-size: x-large;
  font-family: "open sans", sans-serif;
  background-color: hsl(227, 100%, 59%);
  background-image: url("./img.jpg");
}

.header {
  display: flex;
  align-items: center;
  background-color: hsl(227, 100%, 59%);
  font-family: "Press Start 2P", cursive;
}

.header-logo {
  height: 50px;
  margin-right: 20px;
  margin-left: 40px;
}

.weather-info {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-bottom: 1px solid black;
}

.card {
  padding: 1em;
  border-radius: 1em;
  width: 100%;
  max-width: 400px;
  margin: 0.5em 0.5em;
  height: 350px;
  background: #00ADB5;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search {
  display: flex;
  height: 1.5em;
  border-radius: 15%;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

.temp {
  font-weight: 700;
  font-size: 30px;
}

button {
  border: none;
  margin: 0.3em;
  height: 3.1em;
  width: 3.1em;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background: grey;
}

.search-bar {
  padding: 0.5rem 1rem;
  margin-right: 20px;
  width: 270px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 20px;
}

.search-icon {
  width: 22px;
  height: 22px;
  padding-top: 5px;
}

#forecast {
  background-color: #00ADB5;
  height: 16em;
  width: 24em;
  padding: 15px;
  margin: 0;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#forecast ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 14em;
}

#forecast li {
  position: relative;
  display: flex;
  margin: 0;
  height: 2em;
  /* border: 1px solid black; */
}

#days {
  display: flex;
  width: 100%;
  position: relative;
}

#day-weather {
  display: flex;
  padding-right: 10%;
}

.drop-down {
  float: right;
  right: 0px;
  position: absolute;
  cursor: pointer;
}

.details {
  padding: 0.5em;
  width: 15em;
  background-color: #6b6eff;
  border-radius: 1em;
  position: absolute;
  display: none;
  z-index: 1;
}

.details img {
  height: 50px;
}


